.card {
    margin-bottom: 20px;
    background-color: bisque;


}

.card-img {
    width: 400px;
}

hr {
    border-style: none;
    background-color: black;
    color: black;
    height: 4px;

}



.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-visible {
    opacity: 1;
    transform: translateY(0);
}